<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta name = "viewport" content = "width = device-width, initial-scale = 1">
<link rel="shortcut icon" type="image/png" href="/images/inventory-icon.png"/>
<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Source+Sans+Pro" rel="stylesheet"> 
<link href = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel = "stylesheet">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
      
<meta th:name = "_csrf" th:content = "${_csrf.token}" />
<meta th:name = "_csrf_header" th:content = "${_csrf.headerName}" />

<link href = "/css/estilo.css" rel = "stylesheet" />
<script type = "text/javascript" src = "/scripts/ValidacionesUsuario.js"></script>

<title>Sistema de Inventario - Error de acceso</title>

<script type = "text/javascript">

	function regresar() {
		window.location.href = "/login";
	}

</script>

</head>
<body>

<div id = "error-page-header" class = "jumbotron">
   <div class = "container">
      <h1 id = "header-title">Error de autorización</h1>
   </div>
</div>

<div class = "container" id = "login-error-div">
	<img src = "/images/incorrect-credentials.png" />
	<p>El usuario o contraseña introducido son incorrectos</p>
	<button onclick = "regresar();">Regresar</button>
</div>

</body>
</html>