<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="shortcut icon" type="image/png" href="/images/inventory-icon.png"/>
<meta charset="UTF-8">
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta name = "viewport" content = "width = device-width, initial-scale = 1">
<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Source+Sans+Pro" rel="stylesheet"> 
<link href = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel = "stylesheet">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
      
<meta th:name = "_csrf" th:content = "${_csrf.token}" />
<meta th:name = "_csrf_header" th:content = "${_csrf.headerName}" />

<link href = "/css/estilo.css" rel = "stylesheet" />
<script type = "text/javascript" src = "/scripts/ValidacionesUsuario.js"></script>

<title>Sistema de Inventario - Ingreso al Sistema</title>

<script type = "text/javascript">
	function Borrar() {
		document.getElementById("validaciones").style.display = "none";
	}
</script>

</head>
<body>

<div id = "page-header" class = "jumbotron">
   <div class = "container">
      <h1 id = "header-title">Sistema de Inventario</h1>
      <p id = "header-subtitle">Realizado con Spring Boot, Spring MVC, Bootstrap e Hibernate</p>
   </div>
</div>

<div class = "form-body">

<form th:action="@{/login}" id = "forma-ingresar-usuario" th:object = "${usuario}" 
		method = "POST" autocomplete = "off" >
		
		<input
  			type="hidden"
  			th:name="${_csrf.parameterName}"
  			th:value="${_csrf.token}" />
				
	<table class = "tabla-form">
		<tr>
			<td colspan = "2">
				<p id = "login-title">Ingresar al sistema</p>
				<h5 id = "validaciones" class = "texto-errores">Errores:</h5>
			</td>
			
		</tr>
		<tr>
			<td><img src = "images/user-icon.png" /></td>
			<td><input id = "campoUsuario" type = "text" th:field = "*{usuario}" /></td>
		</tr>
		<tr>
			<td><img src = "images/password-icon.png" /></td>
			<td><input id = "campoContraseña" type = "password" th:field = "*{contraseña}" /><br /></td>
		</tr>
		<tr>
			<td colspan = "2"></td>
		</tr>
		<tr>
			<td colspan = "2">
				<input type = "submit" class = "form-button" value = "Ingresar" onclick = "return ingresarUsuario();" />
				<input type = "reset" class = "form-button" value = "Borrar" onclick = "Borrar();">	<br />
				<a id = "link-registrar" href = "/registrarse">Registrar una <b style = "color: green;">cuenta</b></a>
			</td>
		</tr>
	</table>
</form>

</div>

</body>
</html>